[Unit]
Description=blocked_wenprr
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/ifsclimbing/go/src/blocked_wenprr_bot/
ExecStart=/home/ifsclimbing/go/src/blocked_wenprr_bot/blocked_wenprr_bot
Restart=on-failure
RestartSec=5
Environment=token=6010430:AAEz5eYEewNSdJLiE
Environment=LANG=en_US.UTF-8
SyslogIdentifier=blocked_wenprr
RemainAfterExit=no

[Install]
WantedBy=multi-user.target